@charset "utf-8";
@import "./ress.min.css";
@import "./planet.css";

#jupiterimg1 img {
  margin-left: 1vw;
  width: 24vw;
  float: right;
}

#jupiterimg2 img {
  margin-left: 1vw;
  width: 20vw;
  float: right;
}

#jupiterimg3 img {
  margin-top: .5vh;
  margin-right: 1vw;
  width: 14vw;
  float: left;
}
