@charset "utf-8";
@import "./ress.min.css";
@import "./bg.css";

html,
body {
  overflow: hidden;
}

body {
  background: #000;
  flood-color: #fff;
  cursor: default;
}

header {
  margin-top: 9vh;
}

h1 {
  text-align: center;
}

h1 img {
  width: 20vw;
}

main {
  opacity: 0;
}

table {
  width: 20vw;
  margin: 0 auto;
}

input {
  outline: none;
}

#user,
#passwd,
#name {
  cursor: text;
}

#login,
#singup {
  cursor: pointer;
}

#user {
  margin-top: 3vh;
}

#user,
#passwd,
#name {
  margin-bottom: 4vh;
  padding: .8vw .3vw;
  width: 20vw;
  border: solid .4vh #fff;
  color: #fff;
  border-radius: .2vw;
  font-size: 1.3vw;
}

#name {
  margin-bottom: 8vh;
}

.passMa #passwd {
  margin-bottom: 8vh;
}

#login,
#regist,
#singup {
  padding: .5vw;
  width: 100%;
  border: solid .1vw #fff;
  border-radius: .2vw;
  color: #fff;
  transition: all 700ms;
  font-weight: bold;
}

#singup {
  display: block;
  width: 20vw;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: solid .1vw #0ff;
}

#login:hover {
  background: #fff;
  color: #000;
}


#or {
  color: #fff;
  text-align: center;
  padding: .8vw;
}

#singup:hover {
  background: #0ff;
  color: #000;
}

#error {
  color: #f00;
  text-align: center;
  font-size: 1.4vw;
}

header,
main {
  position: relative;
  z-index: 30;
}
