@charset "utf-8";

html,
body {
  overflow: hidden;
}

body {
  background: #000;
  flood-color: #fff;
}

header {
  margin-top: 10vh;
}

h1 {
  text-align: center;
}

h1 img {
  width: 17vw;
}

table {
  width: 20vw;
  margin: 0 auto;
}

input {
  outline: none;
}

#user {
  margin-top: 3vh;
}

#user,
#passwd {
  width: 20vw;
  padding: .3vw;
  padding-top: .8vw;
  padding-bottom: .8vw;
  margin-bottom: 4vh;
  border: solid .4vh #fff;
  color: #fff;
  border-radius: .2vw;
  font-size: 1.3vw;
}

#passwd {
  margin-bottom: 8vh;
}

#login,
#regist,
#singup {
  width: 100%;
  border: solid .1vw #fff;
  border-radius: .2vw;
  padding: .5vw;
  color: #fff;
  transition: all 700ms;
  font-weight: bold;
}

#singup {
  display: block;
  width: 20vw;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: solid .1vw #0ff;
}

#login:hover {
  background: #fff;
  color: #000;
}

#or {
  color: #fff;
  text-align: center;
  padding: .8vw;
}

#singup:hover {
  background: #0ff;
  color: #000;
}

#error {
  color: #f00;
  text-align: center;
  font-size: 1.4vw;
}
