@charset "utf-8";
@import "./ress.min.css";
@import "./bg.css";

html,
body {
  overflow: hidden;
}

body {
  background: #000;
  flood-color: #fff;
  cursor: default;
}

header {
  margin-top: 9vh;
}

h1 {
  text-align: center;
}

h1 img {
  width: 20vw;
}

#main {
  opacity: 0;
  animation: main 800ms linear 200ms forwards;
}

@keyframes main {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

table {
  margin: 0 auto;
  width: 20vw;
}

input {
  outline: none;
}

#user,
#userRegist,
#passwd,
#passwdRegist,
#name {
  cursor: text;
}

#login,
#singup {
  cursor: pointer;
}

#user,
#userRegist {
  margin-top: 3vh;
}

#user,
#userRegist,
#passwd,
#passwdRegist,
#name {
  margin-bottom: 4vh;
  padding: 1.4vh .3vw;
  width: 20vw;
  border: solid .3vh #fff;
  border-radius: .3vh;
  color: #fff;
  font-size: 1.3vw;
  font-weight: normal;
}

.none {
  display: none;
}

#name {
  margin-bottom: 9vh;
}

.passMa #passwd {
  margin-bottom: 8vh;
}

#login,
#regist,
#signup {
  padding: 1vh .3vw;
  width: 100%;
  border: solid .2vh #fff;
  border-radius: .2vw;
  color: #fff;
  font-size: 1.1vw;
  font-weight: bold;
  transition: all 700ms;
}

#signup {
  margin: 0 auto;
  display: block;
  width: 20vw;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: solid .2vh #0ff;
}

#login:hover {
  background: #fff;
  color: #000;
}

#or {
  padding: .8vw;
  color: #fff;
  text-align: center;
}

#signup:hover {
  background: #0ff;
  color: #000;
}

#error {
  /* user-select: none; */
  color: #f00;
  text-align: center;
  font-size: 1.4vw;
}

header,
main {
  position: relative;
  z-index: 30;
}

#userRegist,
#passwdRegist,
#name {
  border: solid .3vh #0ff;
  color: #0ff;
}

.spacc {
  /* user-select: none; */
  color: transparent;
  text-align: center;
  font-size: 1.4vw;
}

#regist {
  border: solid .2vh #0ff;
}

#regist:hover {
  background: #0ff;
  color: #000;
}
