@charset "utf-8";
@import "./ress.min.css";
@import "./planet.css";

#marsimg1 img {
  margin-left: 1vw;
  width: 24vw;
  float: right;
}

#marsimg2 img {
  margin-left: 1vw;
  width: 23vw;
  float: right;
}

#marsimg3 img {
  margin-top: .5vh;
  margin-right: 1vw;
  width: 22vw;
  float: left;
}
