@charset "utf-8";
@import "./ress.min.css";
@import "./planet.css";

#moonimg1 img {
  margin-left: 1vw;
  float: right;
  width: 21vw;
}

#moonimg2 img {
  margin-top: .5vh;
  margin-right: 1vw;
  float: left;
  width: 25vw;
}
