@charset "UTF-8";
/* @import "../font/operation_font.css"; */
@import "//fonts.googleapis.com/css?family=M+PLUS+1p";
@import "./ress.min.css";
@import "./bg.css";

html,
body {
  overflow: hidden;
  background: #000;
}

body {
  font-family: "M PLUS 1p", sans-serif;
  cursor: default;
}

.topheader {
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.topheader,
main,
.btn {
  opacity: 0;
}

h1 {
  margin-left: .2em;
  color: #fff;
  text-align: center;
  font-size: 5.5vw;
  font-weight: normal;
  letter-spacing: .2em;
}

#main {
  /* margin: 8vh auto 0; */
  width: 100%;
  height: 100%;
  background: #fff;
}

header,
#main {
  position: relative;
  z-index: 30;
}

.page1 {
  display: flex;
  justify-content: center;
}

.operation {
  padding: 1vw;
  width: 27vw;
}

.text {
  margin-top: .7vw;
  padding: 1vw;
  border: solid .3vh #0ff;
  border-radius: 1.5vw;
}

.text p {
  color: #fff;
  text-align: center;
  font-size: 1.5vw;
  letter-spacing: .2em;
}

.operation img {
  width: 25vw;
  border: solid .3vh #0ff;
  border-radius: 7vw;
}

.arrow {
  margin-top: 9vh;
  font-size: 12vw;
  color: #0ff;
}

.btn {
  position: absolute;
  z-index: 30;
  bottom: 25vh;
  color: #fff;
  font-size: 20vw;
  outline: none;
  cursor: pointer;
}

.prev {
  left: 8vw;
}

.next {
  right: 8vw;
}

.btnnone,
.pagenone {
  display: none;
}

.list {
  margin: 0 auto;
  width: 50%;
}

.list img {
  padding: .3vw;
  width: 9%;
  border: solid .1vw #0ff;
}

.list ul {
  margin-top: 21vh;
  list-style-type: none;
}

.list li {
  margin: 2.5vw 0;
  color: #fff;
  font-size: 2vw;
  letter-spacing: .2em;
}

#sample img {
  margin-bottom: 1vh;
  padding: 0;
  width: 24vw;
  border: none;
  border-radius: 2vw;
}

#sample p {
  color: #fff;
  font-size: 2vw;
  letter-spacing: .2em;
}

#sample span {
  color: #f00;
}

.footer {
  margin: 25.5vh auto 0;
  position: absolute;
  z-index: 50;
  width: 25.2vw;
  height: 7.2vw;
  top: 30vw;
  left: 37vw;
  opacity: 0;
  pointer-events: none;
}

.footer p {
  padding-left: .2em;
  position: relative;
  z-index: 51;
  cursor: pointer;
  text-align: center;
  width: 25.2vw;
  height: 7.2vw;
  font-size: 5vw;
  background: #fff;
  border-radius: .5vw;
  text-decoration: none;
  letter-spacing: .2em;
  transition: all 450ms linear 0s;
}

.footer p:hover {
  background: #aaa;
}

.textcolor {
  color: black;
}

.textcolor1 {
  transition: all 350ms linear 0s;
}

.textcolor2 {
  transition: all 350ms linear 100ms;
}

.textcolor3 {
  transition: all 350ms linear 200ms;
}

.textcolor4 {
  transition: all 350ms linear 300ms;
}

.textcolor5 {
  transition: all 350ms linear 400ms;
}

.footer:hover .textcolor1 {
  color: yellow;
}

.footer:hover .textcolor2 {
  color: yellow;
}

.footer:hover .textcolor3 {
  color: yellow;
}

.footer:hover .textcolor4 {
  color: yellow;
}

.footer:hover .textcolor5 {
  color: yellow;
}


.infooter {
  animation: footer 200ms ease-in 0s forwards;
  pointer-events: auto;
}

@keyframes footer {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
