@charset "utf-8";
/* @import "../font/operation_font.css"; */
@import "//fonts.googleapis.com/earlyaccess/kokoro.css";
@import "./ress.min.css";
@import "./bg.css";

html,
body {
  overflow: hidden;
  background: #000;
}

body {
  font-family: "Kokoro", sans-serif;
  cursor: default;
}

header {
  margin-top: 2vh;
  margin-bottom: 3vh;
}

header,
main,
.btn {
  opacity: 0;
}

h1 {
  margin-left: .2em;
  text-align: center;
  color: #fff;
  font-size: 5.5vw;
  font-weight: normal;
  letter-spacing: .2em;
}

#main {
  margin: 0 auto;
  margin-top: 8vh;
  width: 90vw;
}

header,
#main {
  position: relative;
  z-index: 30;
}

.page1 {
  display: flex;
  justify-content: center;
}

.operation {
  padding: 1vw;
  width: 27vw;
}

.text {
  margin-top: .7vw;
  padding: 1vw;
  border: solid .3vh #0ff;
  border-radius: 1.5vw;
}

.text p {
  color: #fff;
  text-align: center;
  font-size: 1.5vw;
  letter-spacing: .2em;
}

.operation img {
  width: 25vw;
  border: solid .3vh #0ff;
  border-radius: 7vw;
}

.arrow {
  margin-top: 9vh;
  font-size: 12vw;
  color: #0ff;
}

.btn {
  color: #fff;
  font-size: 20vw;
  position: absolute;
  z-index: 30;
  bottom: 25vh;
  outline: none;
  cursor: pointer;
}

.prev {
  left: 8vw;
}

.next {
  right: 8vw;
}

.btnnone,
.pagenone {
  display: none;
}

.list {
  margin: 0 auto;
  width: 50%;
}

.list img {
  padding: .3vw;
  width: 9%;
  border: solid .1vw #0ff;
}

.list ul {
  margin-top: 21vh;
  list-style-type: none;
}

.list li {
  margin: 2.5vw 0;
  color: #fff;
  font-size: 2vw;
  letter-spacing: .2em;
}

#sample img {
  margin-bottom: 1vh;
  padding: 0;
  width: 24vw;
  border: none;
  border-radius: 2vw;
}

#sample p {
  color: #fff;
  font-size: 2vw;
}

#sample span {
  color: #f00;
}

.page4 {
  margin: 29vh auto 0;
  position: relative;
  z-index: 50;
  width: 25.2vw;
  height: 7.2vw;
}

.page4 p {
  width: 25.2vw;
  height: 7.2vw;
  position: relative;
  z-index: 50;
  cursor: pointer;
  text-align: center;
  color: #00f;
  background: #fff;
  border-radius: .5vw;
  font-weight: bold;
  font-size: 5vw;
  text-decoration: none;
}

.bgcolor {
  position: absolute;
  cursor: pointer;
}

.color1 {
  z-index: 51;
  top: .9vh;
  left: .9vh;
  width: 24.2vw;
  height: 6.2vw;
  border: dashed .3vh #00f;
  border-radius: .5vw;
}

.color2 {
  width: 25.2vw;
  height: 7.2vw;
  position: absolute;
  z-index: 51;
  background: #00f;
  opacity: 0.3;
  border-radius: .5vw;
  transform-origin: center;
  transform: scale(0);
  transition: all 500ms cubic-bezier(0.86, 0, 0.07, 1) 0s;
}

.page4:hover .color2 {
  transform: scale(1);
}
