@charset "utf-8";

html,
body {
  overflow: hidden;
}

body {
  background: #000;
  cursor: default;
}

#stage {
  width: 50%;
}

#info {
  width: 48vw;
  height: 96vh;
  position: absolute;
  background: #fff;
  opacity: .8;
  padding: 1.5vw;
  top: 2%;
  right: 1%;
  z-index: 99;
  border: solid .5vw #0ff;
  border-radius: 10%;
}

h1 {
  text-align: center;
}

#main {
  width: 44.5vw;
  height: 75vh;
}

p {
  font-size: 1.3vw;
  letter-spacing: .2em;
  line-height: 1.5em;
}

#back {
  padding: .8vw .3vw;
  margin-bottom: 4vh;
  position: absolute;
  top: 3%;
  left: 1%;
  width: 18vw;
  border: solid .4vh #fff;
  color: #fff;
  border-radius: .2vw;
  font-size: 1.3vw;
  transition: all 700ms;
}

#back:hover {
  background: #fff;
  color: #000;
}

.title {
  margin-top: 1.5vh;
}

.clear {
  clear: both;
}

.none {
  display: none;
}

.pnBtn {
  position: absolute;
  bottom: 0;
}

.pnBtn img {
  width: 4vw;
}

.prev {
  left: 10vw;
}

.next {
  right: 10vw;
}

.infotext2 {
  margin-top: 1.5vh;
}
