@charset "utf-8";
@import "./bg.css";

body {
  background: #000;
}

main {
  width: 20vw;
  margin: 0 auto;
}

h1,
p {
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 2.5vw;
  margin-top: 35vh;
  margin-bottom: 7vh;
}

#loginBtn {
  padding: .3vw;
  padding-top: .8vw;
  padding-bottom: .8vw;
  cursor: pointer;
  width: 20vw;
  border-radius: .2vw;
  font-weight: bold;
  font-size: 1.3vw;
  text-decoration: none;
  text-align: center;
  color: #fff;
  border: solid .1vw #0ff;
  transition: all 700ms;
}

#loginBtn:hover {
  background: #0ff;
  color: #000;
}

#time {
  font-size: 1vw;
}

header,
main {
  position: relative;
  z-index: 30;
}
