@charset "utf-8";
@import "./ress.min.css";
@import "./planet.css";

#uranusimg1 img {
  margin-left: 1vw;
  float: right;
  width: 24vw;
}

#uranusimg2 img {
  margin-top: .5vh;
  margin-left: 1vw;
  width: 19vw;
  float: right;
}
